/* styleSheet.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display:-webkit-flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
    background-color: #1355fc;
    background-image:url(cave.jpg);
}
.container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align:center;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 20%;
}

p {
    font-size: 26px;
    margin-bottom: 20%;
    color: #ffffff;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 20%;
}

button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 1%;
    width: 1%;
    
}
.button-image {

    width: 80%;
    height: 80%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-back {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #030000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 1%;
    width: 1%;
}

start-button {
    background-color: #000000;
    color: #000000;
    position: relative;
    width:auto;
    height:auto;
    font-size:   20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.8rem 1.5rem;
}
start-text {
    color: #ffffff;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

